---
---

// Primary Properties
$background-color:          #5f5785;
$primary-color:         #8077aa;

// Primary Font Properties
$primary-font:          'Roboto', sans-serif;
$primary-font-color:    #c1c1d6;

// Accents
$accent-font:           'Inconsolata', monospace;
$pink-accent-color:     #c17bb8;
$blue-accent-color:     #3a92c8;
$white-accent-color:    #ebe6e6;

$content-background:     #191e27;
$font-color:        #afafbf;
$light-grey:        #ebe6e6;
$dark-grey:         #333945;


body {
    background-color: $background-color;
    color: $primary-font-color;
    font-family: $primary-font;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.8;
    margin: 5em auto 1em;
    max-width: 800px;
}

@import 'content';
@import 'header';
@import 'main';
@import 'footer';
