<div class="text-center">
    {% if include.info %}
    <a href="{{ include.info }}" class="btn btn-outline-light btn-sm" role="button" aria-pressed="true"><i class="fas fa-info-circle"></i> Info</a>
    {% endif %}
    {% if include.demo %}
    <a href="{{ include.demo }}" class="btn btn-outline-light btn-sm" role="button" aria-pressed="true"><i class="fas fa-eye"></i> Demo</a>
    {% endif %}
    {% if include.repo %}
    <a href="{{ include.repo }}" class="btn btn-outline-light btn-sm" role="button" aria-pressed="true"><i class="fab fa-github"></i> Github</a>
    {% endif %}
</div>
