<nav class="text-center">
    <h1><a class="icon" href="/">{{ site.title }}</a><br /><small class="text-muted">{{ site.description }}</small></h1>
    <header class="tm-2">
        {% for item in site.data.navigation %}
            <div class="d-inline p-3">
                <a href="{{ item.url }}" class="icon" data-toggle="tooltip" data-placement="bottom" data-html="true" title="{{ item.title }}">
                    <i class="{{ item.icon }} fa-2x" aria-hidden="true"></i>
                </a>
            </div>
        {% endfor %}
    </header>
</nav>


<script type="text/javascript">
    $(document).ready(function() {
        $("body").tooltip({
            selector: '[data-toggle=tooltip]'
        });
    });
</script>
