.content {
    margin-left: 1em;
    margin-right: 1em;
}

a {
    color: $blue-accent-color;
    font-weight: bold;
    text-decoration: none;

    &:hover {
        color: $white-accent-color;
    }
}

strong,
em,
blockquote {
    color: $pink-accent-color;
}

blockquote {
    font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6,
b {
    color: $primary-color;
    font-family: $accent-font;
    font-weight: 600;

    &::before {
        color: $pink-accent-color;
        content: '> ';
    }
}

code {
    background: $dark-grey;
    font-family: $accent-font;
}

li {
    p {
        margin: .1em;
    }
}

img {
    max-width: 100%;
}
