header {
    display: block;
    font-size: 1.75rem;
    font-weight: bold;
    letter-spacing: .06em;
    margin-bottom: 1.5em;

    a {
        color: $content-background;
    }

    small {
        float: right;
        font-size: 1rem;
        line-height: 3.15rem;
    }

    &::after {
        clear: both;
        content: '';
        display: block;
    }
}
