---
layout: default
---

<header>
    <h1>
        {% if page.title %} {{ page.title }} {% endif %}
        {% if page.subtitle %} <small class="text-muted">{{ page.subtitle }}</small> {% endif %}
    </h1>
    {% if page.date %} <small class="text-muted">{{ page.date | date_to_long_string }}</small> {% endif %}
</header>

<section>
    {{ content }}
</section>

<div class="container">
    <div class="row align-items-center">
        {% for image in page.images %}
            <div class="col-sm">
                <img src="{{ image.path }}" class="card-img img-thumbnail" data-toggle="modal" data-target="#{{ image.id }}"/>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="{{ image.id }}" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <img src="{{ image.path }}"/>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
