---
layout: collections
---

<div class="card-columns">
    {% assign c = page.id %}
    {% assign items = site.collections | where:"label",c %}
    {% for item in items[0].docs %}
        <div class="card text-white bg-dark mb-3">
            <h2 class="card-header mt-0">
                {{ item.title }}
            </h2>
            <img class="card-img" src="{{ item.image | prepend: '/img/' }}">
            <div class="card-body">
                {% if item.caption %}
                    <p class="card-text">{{ item.caption }}</p>
                {% endif %}
                {% include demorepo.html demo=item.demo repo=item.repo info=item.url %}
            </div>
        </div>
    {% endfor %}
</div>
