<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, height=device-height, user-scalable=no, initial-scale=1.0"/>
        <title>{{ site.title }} {% if page.title %} - {{ page.title }} {% endif %}</title>
        <meta name="description" content="{{ site.description }}"/>

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ site.url }}/css/main.css" />
    </head>
    <body>
        <div id="content">
            <header>
                <a href="/">{{ site.title }}</a>
                <small>{{ site.description }}</small>
            </header>
            <main>
                {{ content }}

            </main>
            <footer>
                {% if page.url != "/" %}
                <a href="/">&#x1F3E0;</a>
                {% else %}
                    &#x2665;
                {% endif %}
            </footer>
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        </div>
    </body>
</html>
