---
layout: default
---
{% capture time %}{{ content | reading_time }}{% endcapture %}

<h1>{{ page.title }}</h1>
<small><em>This post was written on <strong>{{ page.date | date_to_long_string}}</strong> and should take about <strong>{{ content | reading_time | pluralize: "minute" }}</strong> to read. </em></small>
<hr>
<section>
    {{ content }}
</section>
<hr>
<section>
    <div class="row align-items-center">
        {% for image in page.images %}
            <div class="col-sm">
                <img src="{{ image.path }}" class="card-img img-thumbnail" data-toggle="modal" data-target="#{{ image.id }}" alt="Test"/>
            </div>
        {% endfor %}
    </div>
</section>

<nav class="clearfix">
    {% if page.previous.url %}
        <a class="float-left" href="{{page.previous.url}}">&#x1f448;{{ page.previous.title }}</a>
    {% endif %}
    {% if page.previous.url and page.next.url %}
     |
    {% endif %}

    {% if page.next.url %}
        <a class="float-right" href="{{page.next.url}}">{{page.next.title}} &#x1f449;</a>
    {% endif %}
</nav>
